 
 #containerSingIn{
     background: #1d1919;
     width: 80%;
     margin: 0 auto;
 }

 h1{
     color: #f5f7f7;
 }

 #containerSingIn .logo{
    position: relative;
    left: 15px;
}

 #containerSingIn .input-grupo input{
    border: 0;
    width: 85%;
    background: none;
    border: 2px solid #006266;
    border-radius: 24px;
    margin: 13px auto;
    outline: none;
    color: #f5f7f7;
    transition: 0.25s;
}

.input-grupo{
    position: relative;
}

.input-grupo i{
    position: absolute;
	right: 60px;
    bottom: 3px;
    z-index: 100;
    font-size: 20px;
}

#containerSingIn p{
    color: grey;
    margin-top: -10px;  
}

#boxBtn p{
    margin-top: -20px;
}

.visible{
    opacity: 1; 
}

.invisible{
    font-size: 0px;
    opacity: 0; 
}
 
 .form-control[type="text"]:focus,.form-control[type="password"]:focus,.form-control[type="email"]:focus{
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px hsla(348, 82%, 44%, 0.746);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px hsla(348, 82%, 44%, 0.746);
 }

 #containerSingIn input:focus::placeholder{
     transition: 0.25s;
     font-size: 20px;
 }

 #containerSingIn input[type="text"]:focus,#containerSingIn input[type="password"]:focus,#containerSingIn input[type="email"]:focus{
     width: 95%;
     border: 2px solid #cc1439;
     height: 40px;
 }

  #emailValidation input[type="text"]:focus{
     width: 95%;
     border: 2px solid #cc1439;
     height: 45px;
     font-size: 30px ;
 } 
 
 #boxBtn{
    text-align: center;
}

#boxBtn button[type="submit"]{ 
    border:0;
    border: 2px solid #cc1439;
    width: 70%;
    border-radius: 24px;
    color: #f5f7f7;
    transition: 0.25s;
}

#boxBtn button[type="submit"]:hover{
    background: #cc1439;
    color: #f5f7f7;
} 

.btn:focus{ 
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px hsla(348, 82%, 44%, 0.746);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px hsla(348, 82%, 44%, 0.746);
}

.modal-content{
    background: #1d1919;
    height: 300px;
}

.modal-header{
    border-bottom: 1px solid #006266;
}

.modal-title{
    margin-left: 160px;
    color: rgba(255, 255, 255, 0.8);
}

.modal-footer{
    color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #006266;
}

.modal-footer p{
    margin-right: 25px;
    margin-bottom: -5px;
}

.icon-close{
    color:rgba(255, 255, 255, 0.8);
}

#codeEmail{
    height: 40px;
    font-size: 25px;
}

#btnCheck,#btnCancel{
    width: 75px;
} 

#btnCancel{
    border-radius: 12px;
}

@media(max-width:991px) and (min-width:768px) {
    #containerSingIn{
        width: 95%;
    }
    #containerSingIn input{
        width: 75%;
    }
    #containerSingIn .logo{
        left: 0;
        width: 115px;
        height: 115px;
    }
    button[type="submit"]{      
        width: 55%;
    }
}

@media(max-width:768px) and (min-width:620px) {
    #containerSingIn{
        width: 100%;
    }
    #containerSingIn input{
        width: 80%;
    }

    button[type="submit"]{      
        width: 65%;
    }
}

@media(max-width:620px) {
    #containerSingIn{
        width: 100%;
    }
    #containerSingIn input{
        width: 85%;
    }

    button[type="submit"]{      
        width: 65%;
    }
}
